* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.navbar {
    width: 100vw;
    height: 54px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.logo {
    width: 360px;
}

.navbar-inner {
    display: flex;
    width: 975px;
    padding: 0 20px;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 3px 10px 3px 10px;
    background-color:#fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    cursor: text;
}

.search-bar {
  height: 28px;
  width: 215px;
}

.search-icon {
    display: inline-block;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_2x_bcd90c1d4868.png/bcd90c1d4868.png);
    background-size: 440px 411px;
    background-position: -428px -241px;
    background-repeat: no-repeat;
    height: 10px;
    width: 10px;
    margin: 0 6px 0 0;
}

.search-text {
    color:rgb(142, 142, 142);
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;

}

.navbar-icons {
    width: 360px;
    height: 22px;
}

.navbar-inner-icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-icons-img img {
    border-radius: 50%;
    height: 22px;
    width: 22px;
}

.margin-icons {
    margin-left: 22px;
}

main {
    background: #fafafa;
    height: calc(100vh - 54px);
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.content {
    width: 935px;
    height: 100%;
    display: flex;
    padding-top: 30px;
}

.content .posts {
    width: 614px;
    height: 100%;
    
    margin-right: 28px;
    overflow-y: scroll;
}
.content .sidebar {
    width: 293px;
    height: calc(100vh - 54px);
}


.stories-container {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    border-radius: 3px;
    margin-bottom: 24px;
}

.stories {
    width: 100%;
    height: 118px;
    border: 1px solid #dbdbdb;
    background: white;
    display: flex;
    overflow-x: scroll;
}

::-webkit-scrollbar {display: none;}


.story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 20px;
}
.story-image {
    width: 66px; 
    height: 66px;
    position: relative;
    padding-left: 5px;
}
.story-image img {
    border-radius: 50%;
    height: 56px;
    width: 56px;
    
}

.border-image {
    border-radius: 50%;
    border: 2px solid #da427a;
    position: absolute; 
    top: -5px; 
    left: 0; 
    width: 66px; 
    height: 66px;
}

.name {
    font-size: 12px;
    color: #262626;
    text-align: center;
}

.insta-post {
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    background: white;
    margin-top: 24px;
}

.insta-post-header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.profile-area img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
.profile-username  {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
}
.insta-image {
    width: 100%;
}
.insta-image img {
    width: 100%;
    height: 100%;
}
.insta-post-footer {
    display: flex;
    flex-direction: column;
}
.actions-row {
    display: flex;
    justify-content: space-between;
}
.actions-row-icon {
    padding: 8px;
}
.like-comment-share {
    display: flex;
}
.insta-caption-text {
    font-size: 14px;   
}
.posted-on-text {
    font-size: 10px;
    font-weight: 400;
    color: #b0b0b0;
    padding: 6px 10px;
}
.add-comment {
    padding: 10px;
    width: 100%;
    border-top: 1px solid #efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
}
.add-comment input {
    border: none;
    outline: none;
}
::placeholder {
    font-size: 14px;
  }

.post-btn {
    font-size: 14px;
}

.side-bar-profile {
    margin-top: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.profile-details {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    
}

.full-name {
    font-size: 12px;
    color: #b0b0b0;
    margin-left: 10px;

}
